div {
    display: block;
}


p {
    max-width: 50rem;
}

.button {
    padding: .7rem;
    border-style: solid;
    border-width: .1rem!important;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-color: black;
}

.shadow {
    width: 100%;
    border-style: solid;
    border-width: .1rem;
    position: absolute;
    left: .7rem;
    top: .7rem;
    display: inline-block;
    height: 100%;
    z-index: -1;
    border-color: black;
}