/* main {
    min-height: calc(100vh - 170px);
} */

.banner {
    background-color: #CC3E40;
    padding: 2rem;
    color: white;
}

.typewriter {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3.2rem;
    font-weight: bolder;
    padding-left: 1rem;
    width: 85%;
}

.banner-script {
    padding: 0rem 1rem 0.5rem 1rem;
    margin: 0;
    font-size: 1.7rem;
}

#about-btn {
    border: 3px solid whitesmoke;
    box-shadow: -2px 2px 0 0 black;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 1.3rem;
}

.event-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 2rem 0 0 0;
    text-align: center;
}

.event-card {
    text-align: center;
    padding: 1rem 0 1rem 0;
    font-size: 1.2rem;
}
.p-span {
    display: block
}
img {
    height: 50%;
    width: 40%; 
    padding: 1rem 0 1rem 0;
}

.event-description {
    max-width: 75%;
    margin: auto;
    padding-bottom: 1rem;
}

.event-btn {
    padding: 0.8rem !important; 
    border-radius: 10px !important;
}

/* .event-overview.col {
    padding: 4rem 2rem 2rem 2rem;
    font-size: 1.3rem;
}


.event-overview {
    width: 45% !important;
} */



@media screen and (max-width: 600px) {
    html{
        width: 100vw;
        overflow-x: hidden;
    }

    img {
        height: 70%;
        width: 70%; 
    }

    .typewriter {
        font-size: 2.5rem;
    }
    .banner-script {
        font-size: 1.5rem;
    }

    .event-img {
        padding: 1rem 2rem 1rem 2rem;
        width: 80%;
    }

    .event-overview.col {
        padding: 1rem 3rem 0 3rem;
    }

    .event-overview {
        width: 100% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 1028px) {
    img {
        height: 60%;
        width: 60%; 
    }

    .event-img {
        padding-top: 4rem;
        height: 50%;
    }
}


