#root {
    width: 100vw;
    overflow-x: hidden;
}

html, body{
    width: 100%;
    position: relative;
}

.navbar {
    background-color: black;
}

#tedx-logo {
    width: min(40vw, 300px);
    padding: 0.3rem 0rem 0.3rem 1rem;
}

.menu-icon {
    display: none;
}

.nav-menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: end;
    text-align: center;
    font-size: 1.4rem;
}

.nav-menu li a {
    color: whitesmoke;
}

.nav-links:hover {
    background-color: #CC3E40;
    border-radius: 8px;
    padding: 1rem;
    transition: all 0.4s ease-out;
}

/* .nav-menu {
    display: inline-block;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    font-size: 1.4rem;
} */

@media screen and (max-width: 990px) {
    .menu-icon {
        padding-right: 6vw;
        display: block;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    
    .nav-menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 220px;
        height: 320px;
        position: absolute;
        right: -100%;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    
    .nav-menu.active {
        background-color: black;
        top: 100%;
        right: 0;
        opacity: 1;
    }
    
    .nav-menu li {
        padding: 1rem 2rem 1rem 0;
        text-align: center;
        font-size: 1.7rem;
    
    }
}
