@font-face {
    /* font-family: 'Source Code Pro', monospace;; */
    font-family: 'Montserrat', sans-serif;
    /* src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,600&display=swap');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

